version: "3.9"

services:
  node1:
    build: ./node
    hostname: node1
    networks: [lab]
    volumes:
      - ./keys/authorized_keys:/home/ansible/.ssh/authorized_keys:ro
    healthcheck:
      test: ["CMD-SHELL", "nc", "-zv", "localhost", "22"]

  node2:
    build: ./node
    hostname: node2
    networks: [lab]
    volumes:
      - ./keys/authorized_keys:/home/ansible/.ssh/authorized_keys:ro
    healthcheck:
      test: ["CMD-SHELL", "nc", "-zv", "localhost", "22"]

  attack_node:
    build: ./node
    hostname: attacker
    networks: [lab]     

  ansible:
    build: ./ansible
    container_name: ansible
    networks: [lab]
    working_dir: /work
    volumes:
      - ./ansible:/work:ro
      - ./keys/id_rsa:/keys/id_rsa:ro 
    depends_on:
      - node1
      - node2

networks:
  lab:
    driver: bridge
